@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');


.modal-header {
  padding: 2px 16px;
  border-radius: 5px;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;  
}

.modal {
  display: none;
  position: fixed;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

body{
	
	/*display: flex;*/
	align-items: center;
	justify-content: center;
	font-family:  "Roboto","Medium 500";
	margin: 0;
	min-height: 100vh;

}

::placeholder{
	font-family:  "Roboto","Light 300";
	color: #BEC4CA;
	font-weight: bold;

}

.titulo{
	font-family: inherit;
	font-weight: bolder;
	color: black;	
	text-align: center;
	padding: 1rem;
}

.lore{
	font-family:  "Roboto","Light 300";
	color: #7D7B7C;
	font-weight: bold;
	font-size: smaller;
	text-align: center;
	max-width: 51%;
	position: relative;
	left: 25%;

}
.texto{
	font-family: inherit;
	color: black;
	font-weight: bolder;

}

.select{
	border-radius: 5px;
	border: 1px solid #ccc;
	font-family:  "Roboto","Light 300";
	color: #BEC4CA;
	font-weight: bold;
	width: 95%;
	padding: 0.5rem;
}
.departamento{
	border-radius: 5px;
	border: 1px solid #ccc;
	font-family:  "Roboto","Light 300";
	color: #BEC4CA;
	font-weight: bold;
	width: 95%;
	padding: 0.5rem;
}

.image1{
	position: relative;
	left: 41%;
	padding: 1rem;
}

.image2{
	position: relative;
	left: 13%;
	max-width: 33%;
	
}

.form-container {
	background-color:  #fff;
	border-radius: 15px;
	box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
	overflow: hidden;
	width: 32%;
	max-width: 100%;
	/*padding: 1rem;*/
	position: relative;
	left: 15%;
}

.li2{
	display: flex;
}

.answer{
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 90%;
	padding: 0.5rem;
}

.form-header {
	padding:  2rem;
}

.ul1{
	position: relative;
	left: 1%;
}

ul {
	list-style-type: none;
	padding: 0;
}

h2{
	margin: 0;
}

ul li{
	margin: 1rem 0;
	font-size: 1.1rem; 

}

ul li label{
	cursor: pointer;
}

button {
	
	width: 40%;	
	border-radius: 30px;
	position: relative;
	left: 30%;
	background-color: #E03B65;
	border: none;
	font-family: inherit;
	font-weight: bold;
	cursor: pointer;
	color: white;
	padding: 1rem;

}

.ok {
	
	width: 20%;	
	border-radius: 30px;
	position: relative;
	left: 40%;
	background-color: #E03B65;
	border: none;
	font-family: inherit;
	font-weight: bold;
	cursor: pointer;
	color: white;
	padding: 1rem;

}